prune google/protobug/internal/import_test_package
exclude google/protobug/internal/*_pb2.py
exclude google/protobug/internal/*_test.py
exclude google/protobug/internal/*.proto
exclude google/protobug/internal/test_util.py

recursive-include google *.cc
recursive-include google *.h

recursive-exclude google *_test.py
recursive-exclude google *_test.proto
recursive-exclude google unittest*_pb2.py

global-exclude *.dll
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.so
